.go-button:hover {
  background-color: #607dbb;
  color: #ffffff;
  border: #607dbb;
  transform: scale(1.2);
  transition: background-color 2s ease-in;
}

.button-reasons:hover {
  background-color: #607dbb;
  color: #ffffff;
  border: #607dbb;
  transform: scale(1.2);
  transition: background-color 2s ease-out;
}
