<footer class="footer-page">
  <div class="footer-icon">
    <img class="ico-scroll" src="./assets/images/ico-arrow.svg" alt="Scroll up">
  </div>

  <div>
    <nav>
      <ul class="nav-footer">
        <li><a class="link-footer" href="https://adalab.es/" target="_blank" title="Articles">articles</a></li>
        <li><a class="link-footer" href="https://adalab.es/" target="_blank" title="Books">books</a></li>
        <li><a class="link-footer" href="https://adalab.es/" target="_blank" title="Events">events</a></li>
        <li><a class="link-footer" href="https://adalab.es/" target="_blank" title="Reasons">reasons</a></li>
        <li><a class="link-footer" href="https://adalab.es/" target="_blank" title="Tips">tips</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="nav-footer">
        <li><a class="link-footer" href="https://adalab.es/" target="_blank" title="Articles">twitter</a></li>
        <li><a class="link-footer" href="https://adalab.es/" target="_blank" title="Articles">instagram</a></li>
        <li><a class="link-footer" href="https://adalab.es/" target="_blank" title="Articles">mastodon.social</a></li>
      </ul>
    </nav>
  </div>

  <div>
    <small class="footer-small">
      &copy; 2021 we <i class="heart fas fa-heart"></i>components
    </small>
  </div>
</footer>
