<footer class="footer-page">
  <div class="footer-icon">
    <a href="./index.html#nav" class="rowlink">
      <img class="scroll-up" src="./assets/images/ico-arrow.svg" alt="Scroll up">
    </a>
  </div>

  <div class="nav-container">
    <nav class="nav1">
      <ul class="nav-footer">
        <li>
          <include 
            src="./link.html" 
            class="link-footer" 
            url="https://adalab.es/" 
            target="_blank" 
            title="Articles" 
            text="articles">
          </include>
        </li>
        <li>
          <include 
            src="./link.html" 
            class="link-footer" 
            url="https://adalab.es/" 
            target="_blank" 
            title="Books" 
            text="books">
          </include>
        </li>
        <li>
          <include 
            src="./link.html" 
            class="link-footer" 
            url="https://adalab.es/" 
            target="_blank" 
            title="Events" 
            text="events">
          </include>
        </li>
        <li>
          <include 
            src="./link.html" 
            class="link-footer" 
            url="https://adalab.es/" 
            target="_blank" 
            title="Reasons" 
            text="reasons">
          </include>
        </li>
        <li>
          <include 
            src="./link.html" 
            class="link-footer" 
            url="https://adalab.es/" 
            target="_blank" 
            title="Tips" 
            text="tips">
          </include>
        </li>
      </ul>
    </nav>
    <nav class="nav2">
      <ul class="nav-footer">
        <li><a class="link-footer" href="https://adalab.es/" target="_blank" title="Articles">twitter</a></li>
        <li><a class="link-footer" href="https://adalab.es/" target="_blank" title="Articles">instagram</a></li>
        <li><a class="link-footer" href="https://adalab.es/" target="_blank" title="Articles">mastodon.social</a></li>
      </ul>
    </nav>
  
    <div class="small-container">
      <small class="footer-small">
        &copy; 2021 
        <div>we <i class="heart fas fa-heart"></i>components</div>
      </small>
    </div>
  </div>
</footer>
