<header class="header-page">
  <div class="menu-ico rowlink" id="nav">
    <nav class="header-nav">
      <ul>
        <li>
          <a class="link-ico" href="https://adalab.es/" target="_blank" title="Navegador"><img class="img-ico" src="./assets/images/ico-menu.svg" alt="Navegador"></a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="background-cover">
    <section class="cover">
      <h1 class="h1">anonymous proxy</h1>
        <p class="text-cover">in hac habitasse platea dictumst.</p>

      <div class="scroll-container">
        <a href="./index.html#reasons" class="hero-icolink">
          <img class="scroll-down" src="./assets/images/ico-scroll-down.svg" alt="Scroll down">
        </a>
      </div>
    </section>
    </div>
</header>
