<main class="main-page">
  <section class="looking-contain">
    <article class="looking-item">
      <p class="insomnia">insomnia tips</p>
      <h2 class="h2"> Looking through a window</h2>
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia corporis delectus saepe sed qui voluptas velit itaque hic, et.</p>
      <button class="go-button">go</button>
    </article>
  </section>

  <section>
    <h2 class="h2">3 reasons to purchase</h2>
    <div>
      <article>
        <h3>Ut sed metus</h3>
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <article>
        <h3>Curabitur ac erat</h3>
        <p>
          Repellendus illo voluptate, quos rerum consectetur.
        </p>
      </article>
      <article>
        <h3>Morbi dictum</h3>
        <p>Ullam facere quod maiores iste saepe.</p>
      </article>
      <button>more reasons</button>
    </div>
  </section>
</main>
