<main class="main-page">
  <section class="looking-contain">
    <article class="looking-item">
      <p class="insomnia">insomnia tips</p>
      <h2 class="h2"> Looking through a window</h2>
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus veritatis eum numquam alias, ipsam velit placeat error. Excepturi iure ducimus ab nostrum laudantium saepe?</p>
      <button class="go-button">go</button>
    </article>
  </section>

  <section class="main-reasons" >
    <h2 class="h2 reasons-title">3 reasons to purchase</h2>
      <article class="reasons-item">
        <h3 class="h3">ut sed metus</h3>
          <p class="text-reason">
            lorem, ipsum dolor sit amet consectetur.
          </p>
      </article>
      <article class="reasons-item">
        <h3 class="h3">curabitur ac erat</h3>
          <p class="text-reason">
            repellendus illo voluptate, quos rerum consectetur.
          </p>
      </article>
      <article class="reasons-item">
        <h3 class="h3">morbi dictum</h3>
          <p class="text-reason">
            ullam facere quod maiores iste saepe.
          </p>
      </article>
      <button class="button-reasons">More reasons</button>
  </section>
</main>
