<main class="main-page">
  <section class="looking-contain">
    <article class="looking-item">
      <p class="insomnia">insomnia tips</p>
      <h2 class="h2"> Looking through a window</h2>
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia corporis delectus saepe sed qui voluptas velit itaque hic, et.</p>
      <button class="go-button">go</button>
    </article>
  </section>

  <section class="main-reasons" >
    <h2 class="h2">3 reasons to purchase</h2>
    <div class="reasons-contain">
      <article class="reasons-item">
        <h3 class="h3">Ut sed metus</h3>
        <p class="text-reason">
          Lorem, ipsum dolor sit amet consectetur.
        </p>
      </article>
      <article class="reasons-item">
        <h3 class="h3">Curabitur ac erat</h3>
        <p class="text-reason">
          Repellendus illo voluptate, quos rerum consectetur.
        </p>
      </article>
      <article class="reasons-item">
        <h3 class="h3">Morbi dictum</h3>
        <p class="text-reason">
          Ullam facere quod maiores iste saepe.
        </p>
      </article>
      <button class="button-reasons">More reasons</button>
    </div>
  </section>
</main>
