// fonts
$font-main: "Roboto", sans-serif;
$font-title: "Roboto Slab", serif;

// colors
$color-bg-looking: #ffffff;
$color-bg-reasons: #eff9ff;
$color-bg-footer: #304268;
$color-bg-icon-radius: #ffffff;
$font-color-hero: #ffffff;
$font-color-main: #000000;
$font-color-footer: #ffffff;
