.footer-page {
  background-color: $color-bg-footer;
  color: #ffffff;
}

.scroll-up {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-container {
  padding-top: 60px;
  padding-bottom: 30px;
}

.nav-footer {
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-footer {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
}

.nav1 {
  padding-bottom: 30px;
}

.small-container {
  padding-top: 30px;
  padding-bottom: 45px;
}

.footer-small {
  display: block;
  text-align: center;
  line-height: 30px;
}

.heart {
  color: rgb(202, 26, 26);
}

@media all and (min-width: 768px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-footer {
    display: block;
  }

  .small-container {
    order: -1;
    padding-top: 0;
  }

  .footer-small {
    text-align: left;
  }
}

@media all and (min-width: 1200px) {
  .footer-page {
    padding-left: 370px;
    padding-right: 370px;
  }
}
