.footer-page {
  background-color: #304268;
  color: #ffffff;
}

.ico-scroll {
  width: 45px;
  height: 45px;
  background-color: #ffffff;
}

.nav-footer {
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-footer {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
}

.footer-small {
  display: block;
  text-align: center;
}

.heart {
  color: red;
}
