.footer-page {
  background-color: #304268;
  color: #ffffff;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-footer {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
}

.footer-small {
  display: block;
}
