.header-page {
  height: 100vh;
}

.header-nav {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  position: fixed;
  top: 0;
}

.menu-ico .link-ico {
  display: block;
  padding: 15px;
}

/* COVER SECTION*/
.background-cover {
  background-image: url("../images/cover.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  /*  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #k, #000000);*/
}

.cover {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.h1 {
  text-transform: uppercase;
  font-family: $font-title;
  font-size: 42px;
  text-align: center;
  color: $font-color-hero;
  word-spacing: 100vw;
  line-height: 55px;
  padding-bottom: 10px;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);

  @media all and (min-width: 768px) {
    font-size: 80px;
    line-height: 106px;
    padding-bottom: 20px;
  }

  @media all and (min-width: 1200px) {
    font-size: 100px;
    line-height: 132px;
    text-shadow: 0 2px rgba(0, 0, 0, 0.5);
    padding-bottom: 0;
  }
}

.text-cover {
  font-size: 16px;
  text-align: center;
  color: $font-color-hero;
  padding-bottom: 45px;
  font-weight: 400;

  &:first-letter {
    text-transform: uppercase;
  }
  @media all and (min-width: 768px) {
    font-size: 24px;
    padding-bottom: 30px;
  }
}

.scroll-container {
  margin-bottom: 68.3px;
  @media all and (min-width: 768px) {
    margin-bottom: 60.3px;
  }
  @media all and (min-width: 1200px) {
    margin-bottom: 28.3px;
  }
}

.scroll-down {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
}
