.header-page {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-start;
}

.header-page .menu-icon {
  background-image: url("./assets/images/ico-menu.svg");
  width: 44px;
  height: 44px;
  background-size: contain;
}
