.body-page {
  font-family: $font-main;
}

/* LOOKING SECTION */
.looking-contain {
  padding: 30px 15px 45px 15px;
  background-color: $color-bg-looking;
  @media all and (min-width: 768px) {
    padding: 30px 39px 60px 39px;
  }
  @media all and (min-width: 1200px) {
    padding: 60px 275px;
  }
}

.insomnia {
  font-size: 14px;
  line-height: 30px;
  color: #8ccbea;
  text-transform: capitalize;
  @media all and (min-width: 1200px) {
    font-size: 16px;
  }
}

.h2 {
  font-family: $font-title;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  padding-bottom: 15px;
  text-transform: capitalize;
  @media all and (min-width: 768px) {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 30px;
  }
  @media all and (min-width: 1200px) {
    font-size: 32px;
    line-height: 45px;
  }
}

.text {
  font-size: 18px;
  line-height: 30px;
  color: #4a4a4a;
  padding-bottom: 30px;
  @media all and (min-width: 1200px) {
    font-size: 20px;
  }
}

.go-button {
  height: 45px;
  width: 76px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  color: #f26002;
  background-color: #ffffff;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
}

/* REASONS SECTION*/
.main-reasons {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: $color-bg-reasons;
  text-align: center;
  grid-row-gap: 45px;
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 39px;
    padding-right: 39px;
    grid-column-gap: 27.7px;
  }
  @media all and (min-width: 1200px) {
    padding-left: 81.2px;
    padding-right: 85px;
  }
}

.reasons-title {
  padding-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  @media all and (min-width: 768px) {
    grid-column: span 3;
    padding-top: 30px;
    padding-bottom: 0;
  }
  @media all and (min-width: 1200px) {
    margin-top: 30px;
  }
}

.reasons-item {
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  @media all and (min-width: 768px) {
    padding: 0;
  }
}

.h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 30px;
  &::first-letter {
    text-transform: uppercase;
  }
}
.text-reason {
  font-size: 18px;
  line-height: 30px;
  &::first-letter {
    text-transform: uppercase;
  }
}

.button-reasons {
  font-family: $font-main;
  font-size: 20px;
  display: block;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  border-style: none;
  background-color: #f26002;
  color: #ffffff;
  margin: auto;
  margin-bottom: 60px;
  @media all and (min-width: 768px) {
    grid-column: span 3;
    margin-bottom: 60px;
  }
  @media all and (min-width: 1200px) {
    width: 255px;
    height: 45px;
    margin-top: 0;
    margin-bottom: 60px;
  }
}
